:root {
	--transition-time: 0.1s;
	--selected-color: rgba(0, 0, 0, 1);
	--deselected-color: rgba(0, 0, 0, 0.6);
	--font: "Manrope", "Courier New", sans-serif;
	--font2: "Roboto Mono", "Courier New", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
	/* Firefox */
}

body {
	background-color: var(--bg-color);
	color: var(--selected-color);
	padding: 0;
	margin: 0;

	font-family: var(--font);
	color: var(--deselected-color);
	transition: all var(--transition-time) ease-in-out;
}

.grid {
	width: calc(100% - 40px);
	max-width: 700px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 22px;
	margin: 20px auto;
	padding: 0;
	justify-content: center;
	align-items: center;
}

.container {
	width: calc(100% - 40px);
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0px 0px 0px 1px var(--deselected-color); /*here*/
	border-radius: 0px;
	display: flex;
	flex-direction: column;
	gap: 18px;
	transition: all var(--transition-time) ease-in-out;
}

.container:hover {
	box-shadow: 0px 0px 0px 1px var(--selected-color);
}

.container h2 {
	margin: 0;
	padding: 0;
	font-weight: 800;
	font-size: 18px;
	color: var(--deselected-color); /*here*/

	font-family: var(--font);

	transition: all var(--transition-time) ease-in-out;
}

.container:hover > h2 {
	color: var(--selected-color);
}

.vertical-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	gap: 20px;
}

.horizontal-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	gap: 20px;
}

.horizontal-container input {
	width: 100%;
	outline: none;
	border: 1px solid var(--deselected-color); /*here*/
	border-radius: 0;
	font-size: 14px;
	color: var(--deselected-color);
	font-family: var(--font2);
	transition: all var(--transition-time) ease-in-out;
}

.horizontal-container input:focus {
	outline: none;
	border: 1px solid var(--selected-color);
	color: var(--selected-color);
}

.horizontal-container textarea {
	width: 100%;
	outline: none;
	border: 1px solid var(--deselected-color); /*here*/
	border-radius: 0;
	font-size: 14px;
	resize: none;
	color: var(--deselected-color);
	font-family: var(--font2);
	transition: all var(--transition-time) ease-in-out;
}

.horizontal-container textarea:focus {
	outline: none;
	border: 1px solid var(--selected-color);
	color: var(--selected-color);
}

.horizontal-container button {
	width: 100%;
	outline: none;
	border: 1px solid var(--deselected-color); /*here*/
	border-radius: 0;
	background-color: white;
	color: var(--deselected-color);
	font-family: var(--font);

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	transition: all var(--transition-time) ease-in-out;
}

.horizontal-container button:hover {
	width: 100%;
	outline: none;
	border: 1px solid var(--selected-color);
	border-radius: 0;
	background-color: white;
	color: var(--selected-color);
	cursor: pointer;
}

.horizontal-container button svg {
	width: 18px;
	height: 18px;
}

.horizontal-container button svg path {
	fill: var(--deselected-color);
	transition: all var(--transition-time) ease-in-out;
}

.horizontal-container button:hover > svg > path {
	fill: var(--selected-color);
}

@media screen and (max-width: 600px) {
	.grid {
		grid-template-columns: 1fr;
	}
}
