:root {
	--transition-time: 0.1s;
	--selected-color: rgba(0, 0, 0, 1);
	--deselected-color: rgba(0, 0, 0, 0.6);
	--placeholder-color: rgba(0, 0, 0, 0.3);
	--font: "Manrope", "Courier New", sans-serif;
	--font2: "Roboto Mono", "Courier New", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}

::placeholder {
	color: var(--placeholder-color);
	opacity: 1;
}

:-ms-input-placeholder {
	color: var(--placeholder-color);
}

::-ms-input-placeholder {
	color: var(--placeholder-color);
}

body {
	background-color: var(--bg-color);
	color: var(--selected-color);
	padding: 0;
	margin: 0;

	font-family: var(--font);
	color: var(--deselected-color);
	transition: all var(--transition-time) ease-in-out;
}

.big-container {
	width: calc(100% - 40px);
	max-width: 400px;
	height: 100%;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

.big-container img {
	margin: 0;
	padding: 0;
	border: 1px solid var(--deselected-color);
}

.big-container img:hover {
	margin: 0;
	padding: 0;
	border: 1px solid var(--selected-color);
}

.grid {
	width: calc(100% - 40px);
	max-width: 1000px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 22px;
	margin: 20px auto;
	padding: 0;
	justify-content: center;
	align-items: center;
}

.container {
	width: calc(100% - 40px);
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0px 0px 0px 1px var(--deselected-color); /*here*/
	border-radius: 0px;
	display: flex;
	flex-direction: column;
	gap: 18px;
	transition: all var(--transition-time) ease-in-out;
}

.container:hover {
	box-shadow: 0px 0px 0px 1px var(--selected-color);
}

.container h2 {
	margin: 0;
	padding: 0;
	font-weight: 800;
	font-size: 18px;
	color: var(--deselected-color); /*here*/

	font-family: var(--font);

	transition: all var(--transition-time) ease-in-out;
}

.container:hover > h2 {
	color: var(--selected-color);
}

.vertical-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	gap: 20px;
}

.horizontal-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	gap: 20px;
}

.horizontal-container .input-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	gap: 2px;
}

.horizontal-container .input-container label {
	margin: 0;
	padding: 0;
	font-weight: 600;
	font-size: 12px;
	color: var(--deselected-color); /*here*/
	font-family: var(--font2);
	transition: all var(--transition-time) ease-in-out;
}

.horizontal-container input {
	width: calc(100% - 6px);
	outline: none;
	border: 1px solid var(--deselected-color); /*here*/
	border-radius: 0;
	font-size: 14px;
	color: var(--deselected-color);
	font-family: var(--font2);
	transition: all var(--transition-time) ease-in-out;
}

.horizontal-container input:focus {
	outline: none;
	border: 1px solid var(--selected-color);
	color: var(--selected-color);
}

.input-container:focus-within label {
	color: var(--selected-color);
}

.horizontal-container textarea {
	width: calc(100% - 6px);
	outline: none;
	border: 1px solid var(--deselected-color); /*here*/
	border-radius: 0;
	font-size: 14px;
	resize: none;
	color: var(--deselected-color);
	font-family: var(--font2);
	transition: all var(--transition-time) ease-in-out;
}

.horizontal-container textarea:focus {
	outline: none;
	border: 1px solid var(--selected-color);
	color: var(--selected-color);
}

.horizontal-container button {
	width: 100%;
	outline: none;
	border: 1px solid var(--deselected-color); /*here*/
	border-radius: 0;
	background-color: white;
	color: var(--deselected-color);
	font-family: var(--font);
	font-weight: 600;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	transition: all var(--transition-time) ease-in-out;
}

.horizontal-container button:hover {
	width: 100%;
	outline: none;
	border: 1px solid var(--selected-color);
	border-radius: 0;
	background-color: white;
	color: var(--selected-color);
	cursor: pointer;
}

.horizontal-container button svg {
	width: 18px;
	height: 18px;
}

.horizontal-container button svg path {
	fill: var(--deselected-color);
	transition: all var(--transition-time) ease-in-out;
}

.horizontal-container button:hover > svg > path {
	fill: var(--selected-color);
}

footer {
	width: calc(100% - 40px);
	max-width: 1000px;
	margin: 20px auto;
}

footer .container {
	width: calc(100% - 28px);
	margin: 0 auto;
	padding: 14px;
	box-shadow: 0px 0px 0px 1px var(--deselected-color);
	border-radius: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all var(--transition-time) ease-in-out;
}

footer .container:hover > .footer-text {
	color: var(--selected-color);
}

.footer-text {
	padding: 0;
	margin: 0;

	font-family: var(--font2);
	font-size: 12px;
	font-weight: 600;
	color: var(--deselected-color);
	transition: all var(--transition-time) ease-in-out;
}

@media screen and (max-width: 600px) {
	.grid {
		grid-template-columns: 1fr;
	}
}

::placeholder {
	color: var(--placeholder-color);
	opacity: 1;
}

:-ms-input-placeholder {
	color: var(--placeholder-color);
}

::-ms-input-placeholder {
	color: var(--placeholder-color);
}
